/* Importa le font */
@import url('https://use.typekit.net/qbb0zyi.css');

/* Applica la font a tutto il contenuto della pagina */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Varianti della famiglia di font "Acumin Pro" */
.font-light {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-bold {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}



/* Impostazioni di base */
body,
html {
  height: 100%;
  margin: 0;
  transition: opacity 1s; /* Transizione per l'animazione */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  font-family: "acumin-pro", sans-serif;
  
}

/* Animazione di opacità per l'immagine */
.background {
    transition: opacity 1s ease-in-out; /* La durata della transizione è 1s */
    opacity: 1; /* Imposta l'opacità iniziale a 100% */
}

/*
██████╗  █████╗  ██████╗ ██╗███╗   ██╗ █████╗     ██████╗ 
██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║██╔══██╗    ╚════██╗
██████╔╝███████║██║  ███╗██║██╔██╗ ██║███████║     █████╔╝
██╔═══╝ ██╔══██║██║   ██║██║██║╚██╗██║██╔══██║    ██╔═══╝ 
██║     ██║  ██║╚██████╔╝██║██║ ╚████║██║  ██║    ███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚══════╝                                                       
*/

#myVideo {
    width: 100vw; /* Larghezza 100% della viewport */
    height: 100vh; /* Altezza 100% della viewport */
    object-fit: cover; /* Ritaglia il video per riempire l'area */
}

/*
██████╗  █████╗  ██████╗ ██╗███╗   ██╗ █████╗     ██████╗ 
██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║██╔══██╗    ╚════██╗
██████╔╝███████║██║  ███╗██║██╔██╗ ██║███████║     █████╔╝
██╔═══╝ ██╔══██║██║   ██║██║██║╚██╗██║██╔══██║     ╚═══██╗
██║     ██║  ██║╚██████╔╝██║██║ ╚████║██║  ██║    ██████╔╝
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚═════╝                                                      
*/

#videoContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; /* Assicurati che il video sia sopra gli altri contenuti */
}


/* Cerchio - Posizione originale */
.circle {
  width: 2500px; /* Dimensione fissa */
  height: 2500px; /* Dimensione fissa */
  background-color: white;
  background: linear-gradient(315deg, white 26%, #E1E1E1 100%);
  box-shadow: 0px 0px 129.10000610351562px rgba(0, 0, 0, 0.20); 
  border-radius: 9999px;
  filter: blur(2px);
  position: absolute;
  top: 70%;
  /*left: 35%; Posizione a sinistra */
  transform: translate(-36.2%, 3%);
  --rotation: 0deg;
  /* transform: translate(-135%, -50%) rotate(var(--rotation)); Mantiene la posizione a sinistra */
  transition: transform 0.5s ease-in-out;
}

/* Contenitore delle parole */
.word-container {
    position: relative;
    display: flex;
    font-family: "acumin-pro", sans-serif;
    font-weight: 700; /* bold */
    font-style: normal;
}


.width-50vw {
    width: 50vw; /* Larghezza dell'area */
    height: 100vh; /* Altezza dell'area */
    display: flex;
}

.word {
  position: absolute;
  transform-origin: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transizione per ingrandimento e opacità */
  opacity: 0.5;
  font-size: 1.2rem; /* Dimensione fissa */
  font-weight: 500;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}

.word.active {
  opacity: 1;
  font-size: 2rem; /* Dimensione fissa per la parola centrale */
}

/* Classe per nascondere la pagina con dissolvenza */
.fade-out {
    opacity: 0;
}

/* Contenitore principale per consequences */
.consequences {
    height: 30vw;
    width: 40%;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45vw;
}

.consequence {
    /* margin-bottom: 0vw; */
    font-weight: 700; /* bold */
    font-style: normal;
    position: absolute;
}

.just-like h4 {
    font-weight: 300;
    font-style: normal;
    margin-top: 5vw;
    /* position: absolute; */
    opacity: 0; /* Imposta l'opacità iniziale a 0% */
}

/* GENERAZIONE PAROLE REAZIONI */

.fade-in {
    animation: fadeIn 3s forwards;
    opacity: 1;
    transition: opacity 3s ease-in-out 3s; /* Durata della dissolvenza di 3 secondi con un ritardo di 3 secondi */
    animation-delay: 1.5s; /* Ritardo di 3 secondi prima di iniziare la transizione */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animazione per il tipo di scrittura */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 0.3s steps(50) 1s forwards; /* Cambia 30 con il numero di lettere della frase */
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    position: absolute;

    gap: 20vw;

    margin-bottom: 17vw;
}

.reaction p {
    font-weight: 300;
    font-style: normal;

    margin-bottom: -0.5vw;
}

.reaction h4 {
    font-weight: 700; /* bold */
    font-style: normal;

    margin-bottom: -1.3vw;
}

.symbol p {
    font-weight: 300;
    font-style: normal;

    margin-bottom: -0.5vw;
}

.symbol h4 {
    font-weight: 700; /* bold */
    font-style: normal;

    margin-bottom: -1.3vw;
}

.tributes p {
    font-weight: 300;
    font-style: normal;

    margin-bottom: -0.5vw;
}

.tributes h4 {
    font-weight: 700; /* bold */
    font-style: normal;

    margin-bottom: -1.3vw;
}






