/* Importa le font */
@import url('https://use.typekit.net/qbb0zyi.css');

/* Applica la font a tutto il contenuto della pagina */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Varianti della famiglia di font "mundial" */
.font-thin {
    font-family: "mundial", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.font-light {
    font-family: "mundial", sans-serif;
    font-weight: 300;
}

.font-regular {
    font-family: "mundial", sans-serif;
    font-weight: 400; /* Regular */
}

.font-DemiBold {
    font-family: "mundial", sans-serif;
    font-weight: 600; /* DemiBold */
}

/* Impostazioni di base */
body,
html {
    height: 100%;
    margin: 0;
    transition: opacity 1s; /* Transizione per l'animazione */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.begin-instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.begin-instructions h4 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

.logo {
    position: absolute;
    bottom: 3rem;
    width: 3vw;
    height: auto;
}

/*
██████╗  █████╗  ██████╗ ██╗███╗   ██╗ █████╗     ██████╗ 
██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║██╔══██╗    ╚════██╗
██████╔╝███████║██║  ███╗██║██╔██╗ ██║███████║     █████╔╝
██╔═══╝ ██╔══██║██║   ██║██║██║╚██╗██║██╔══██║    ██╔═══╝ 
██║     ██║  ██║╚██████╔╝██║██║ ╚████║██║  ██║    ███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚══════╝                                                       
*/

#myVideo {
    width: 100vw; /* Larghezza 100% della viewport */
    height: 100vh; /* Altezza 100% della viewport */
    object-fit: cover; /* Ritaglia il video per riempire l'area */
}

/*
██████╗  █████╗  ██████╗ ██╗███╗   ██╗ █████╗     ██████╗ 
██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║██╔══██╗    ╚════██╗
██████╔╝███████║██║  ███╗██║██╔██╗ ██║███████║     █████╔╝
██╔═══╝ ██╔══██║██║   ██║██║██║╚██╗██║██╔══██║     ╚═══██╗
██║     ██║  ██║╚██████╔╝██║██║ ╚████║██║  ██║    ██████╔╝
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚═════╝                                                      
*/

.page3 {
    position: relative; /* Assicura che il contenitore genitore sia posizionato */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contenitore principale per consequences */
.consequences {
    height: 30vw;
    width: 40%;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    
}

/* Classe per nascondere la pagina con dissolvenza */
.fade-out {
    opacity: 0;
}

.first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-bottom: 183vw;


    
}

.consequence {
    /* margin-bottom: 0vw; */

    position: absolute;
}

/* Animazione per il tipo di scrittura */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 0.3s steps(50) 1s forwards; /* Cambia 30 con il numero di lettere della frase */
    font-family: "mundial", sans-serif;
    font-weight: 400; /* Regular */
    font-style: normal;
}



#videoContainer {
    position: absolute; /* Posiziona assolutamente rispetto a .page3 */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra orizzontalmente */
    transform: translate(-50%, -50%); /* Usa transform per centrare */ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%; /* Assicurati che occupi il 100% della larghezza */
    height: 77%; /* Assicurati che occupi il 100% dell'altezza */
    cursor: pointer;
}

#videoContainer img,
#accidentVideo {
    width: 77%; /* Imposta la larghezza al 100% del contenitore */
    height: 77%; /* Imposta l'altezza al 100% del contenitore */
    object-fit: cover; /* Ritaglia il video per riempire l'area */
    margin-bottom: 7.5vw; /* Mantieni il margine se necessario */
}

.instructions {
    position: absolute;
    display: flex;
    align-items: stretch;
    justify-content: center;

    margin-bottom: 95vw;
}


.press{
    text-align: right;
    color: #969696;
    font-size: 14px;
    font-family: "mundial", sans-serif;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
    margin-right: 0.5vw;
}

.dot {
    width: 5px;
    height: 5px;
    background: #969696;
    border-radius: 9999px;
    margin-top: 0.4vw;
}

.to-simulate {
    text-align: right;
    color: #969696;
    font-size: 14px;
    font-family: "mundial", sans-serif;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
    margin-left: 0.5vw;
}   

/* Contenitore delle parole */
.word-container {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se necessario */
    justify-content: center; /* Allinea le parole al centro orizzontalmente */
    align-items: center; /* Allinea le parole al centro verticalmente */
}


.width-50vw {
    width: 50vw; /* Larghezza dell'area */
    height: 100vh; /* Altezza dell'area */
    display: flex;
}

.word {
    position: absolute;
    transform-origin: center;
    transition: transform 0.4s ease-out;
    opacity: 0.5;


    margin: 0;
}

.word.active {
    opacity: 1;


}

/* Cerchio - Posizione originale */
.circle {
    width: 1700px; /* Dimensione fissa */
    height: 2250px; /* Dimensione fissa */
    
    
    border: 1px black solid; /* Aggiunto il bordo */
    border-radius: 9999px; /* Rende il cerchio perfetto */
    
    position: relative;
    top: 80%;

    /* background-color: white; */
    /* filter: blur(2px); */
    /* background: linear-gradient(315deg, white 26%, #E1E1E1 100%); */
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3); */
}

/* GUIDA VERTICALE */
/* 
.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px; 
    height: 100%; 
    background-color: black; 
    transform: translateX(-50%); 
}
    */


/* GUIDA VERTICALE */


.vertical-guide {
    position: fixed; 
    top: 0; 
    left: 50%; 
    width: 2px; 
    height: 100%; 
    background-color: black; 
    transform: translateX(-50%);
    z-index: 10; 
}



.just-like {
    animation: fadeIn 1s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.instructions,
.choice,
.circle {
    opacity: 0; /* Imposta l'opacità iniziale a 0 */
    transition: opacity 1s ease-in-out; /* Rimuovi la transizione se non necessaria */
}

@keyframes fadeInOut {
    0% {
        opacity: 0.25; /* Inizio al 25% di opacità */
    }
    50% {
        opacity: 1; /* A 100% di opacità */
    }
    100% {
        opacity: 0.25; /* Torna al 25% di opacità */
    }
}

.fade-in-out {
    animation: fadeInOut 2s ease-in-out 0s 2; /* Durata di 2 secondi, ripetuta 2 volte */
}


/* page 4 */

/* 
██████╗  █████╗ ████████╗███████╗
██╔══██╗██╔══██╗╚══██╔══╝██╔════╝
██║  ██║███████║   ██║   █████╗  
██║  ██║██╔══██║   ██║   ██╔══╝  
██████╔╝██║  ██║   ██║   ███████╗
╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝
                                  */

                                  /*
                                  ███╗   ███╗ ██████╗ ███╗   ██╗████████╗██╗  ██╗
                                  ████╗ ████║██╔═══██╗████╗  ██║╚══██╔══╝██║  ██║
                                  ██╔████╔██║██║   ██║██╔██╗ ██║   ██║   ███████║
                                  ██║╚██╔╝██║██║   ██║██║╚██╗██║   ██║   ██╔══██║
                                  ██║ ╚═╝ ██║╚██████╔╝██║ ╚████║   ██║   ██║  ██║
                                  ╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝
                                                                                  */

.page4 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.month-choice {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.month-circle {
    width: 1700px; /* Dimensione fissa */
    height: 2250px; /* Dimensione fissa */
    
    
    border: 1px black solid; /* Aggiunto il bordo */
    border-radius: 9999px; /* Rende il cerchio perfetto */
    
    position: absolute;
    top: 80%;

    /* background-color: white; */
    /* filter: blur(2px); */
    /* background: linear-gradient(315deg, white 26%, #E1E1E1 100%); */
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3); */
}

/* GUIDA VERTICALE */

/* 
.month-circle::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
    transform: translateX(-50%);
} 
 */

.month-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.month {
    position: absolute;
    transform-origin: center;
    transition: transform 0.4s ease-out;
    opacity: 0.5;

    margin: 0;
}

.month.active {
    opacity: 1;
    font-size: 3rem;
    font-weight: 600;

}





.date-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 3rem;
    
}


.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;;
}

.month-title-container,
.day-title-container,
.year-title-container {
    display: flex;
    justify-content: space-between; /* Spazio tra gli elementi */
    align-items: center; /* Allinea verticalmente al centro */
    width: 100%; /* Assicura che occupi tutta la larghezza disponibile */
    margin-top: 1rem; /* Margine superiore */
    font-weight: 400; /* Peso del font */

    gap: 8rem;
}

.month-title,
.day-title,
.year-title {
    font-family: "mundial", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left; /* Allinea il testo a sinistra */
}

.month-name,
.day-name,
.year-name {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: right; /* Allinea il testo a destra */
    flex-grow: 1; /* Permette di occupare lo spazio rimanente */
    text-align: right; /* Allinea il testo a destra */
}

#final-date {
    margin-bottom: 41.85vw;
}

/* 
██████╗  █████╗ ██╗   ██╗
██╔══██╗██╔══██╗╚██╗ ██╔╝
██║  ██║███████║ ╚████╔╝ 
██║  ██║██╔══██║  ╚██╔╝  
██████╔╝██║  ██║   ██║   
╚═════╝ ╚═╝  ╚═╝   ╚═╝   
                          */


.day-choice {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.day-circle {
    width: 1700px; /* Dimensione fissa */
    height: 2250px; /* Dimensione fissa */
    
    
    border: 1px black solid; /* Aggiunto il bordo */
    border-radius: 9999px; /* Rende il cerchio perfetto */
    
    position: absolute;
    top: 80%;

    /* background-color: white; */
    /* filter: blur(2px); */
    /* background: linear-gradient(315deg, white 26%, #E1E1E1 100%); */
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3); */
}

/* GUIDA VERTICALE */

/* 
.day-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
    transform: translateX(-50%);
}
 */

.day-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.day {
    position: absolute;
    transform-origin: center;
    transition: transform 0.4s ease-out;
    opacity: 0.5;
    margin: 0;
}

.day.active {
    opacity: 1;
    font-size: 3rem;
    font-weight: 600;
}


/* 
██╗   ██╗███████╗ █████╗ ██████╗ 
╚██╗ ██╔╝██╔════╝██╔══██╗██╔══██╗
 ╚████╔╝ █████╗  ███████║██████╔╝
  ╚██╔╝  ██╔══╝  ██╔══██║██╔══██╗
   ██║   ███████╗██║  ██║██║  ██║
   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
                                  */


.year-choice {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.year-circle {
    width: 1700px; /* Dimensione fissa */
    height: 2250px; /* Dimensione fissa */
    
    
    border: 1px black solid; /* Aggiunto il bordo */
    border-radius: 9999px; /* Rende il cerchio perfetto */
    
    position: absolute;
    top: 80%;

    /* background-color: white; */
    /* filter: blur(2px); */
    /* background: linear-gradient(315deg, white 26%, #E1E1E1 100%); */
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3); */
}

/* GUIDA VERTICALE */

/* 
.year-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
    transform: translateX(-50%);
}
 */

.year-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.year {
    position: absolute;
    transform-origin: center;
    transition: transform 0.4s ease-out;
    opacity: 0.5;
    
    margin: 0;
}

.year.active {
    opacity: 1;
    font-size: 3rem;
    font-weight: 600;
}

/* Nuove classi aggiunte per la pagina 8-scontrino.html */
.date-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 3rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 7.3rem;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.death-title-container,
.date-title-container,
.price-title-container {
    display: flex;
    justify-content: space-between; /* Spazio tra gli elementi */
    align-items: center; /* Allinea verticalmente al centro */
    width: 100%; /* Assicura che occupi tutta la larghezza disponibile */
    margin-top: 1rem; /* Margine superiore */
    font-weight: 400; /* Peso del font */
    gap: 6rem;
}

.price-title-container {
margin-top: 5vw;
}

.death-title,
.date-title {
    font-family: "mundial", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left; /* Allinea il testo a sinistra */
}

.death-name,
.date-name-month,
.date-name-day,
.date-name-year {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: right; /* Allinea il testo a destra */
    flex-grow: 1; /* Permette di occupare lo spazio rimanente */
    
}

.price-title,
.price-name {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left; /* Allinea il testo a sinistra */
}

#final-date-scontrino {

    margin-bottom: 41.85vw;
    margin-top: 8vw;
}

.thankyou-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.logo-big {
    width: 15vw
}