/* Importa le font */
@import url('https://use.typekit.net/qbb0zyi.css');

/* Applica la font a tutto il contenuto della pagina */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Varianti della famiglia di font "Acumin Pro" */
.font-light {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-medium {
    font-family: "acumin-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-semibold {
    font-family: "acumin-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-bold {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-thin {
    font-weight: 100;
    font-style: normal;
}

.font-thin-italic {
    font-weight: 100;
    font-style: italic;
}

.font-extra-light {
    font-weight: 200;
    font-style: normal;
}

.font-extra-light-italic {
    font-weight: 200;
    font-style: italic;
}

.font-light-italic {
    font-weight: 300;
    font-style: italic;
}

.font-italic {
    font-weight: 400;
    font-style: italic;
}

.font-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.font-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.font-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.font-black {
    font-weight: 800;
    font-style: normal;
}

.font-black-italic {
    font-weight: 800;
    font-style: italic;
}

.font-ultra-black {
    font-weight: 900;
    font-style: normal;
}

.font-ultra-black-italic {
    font-weight: 900;
    font-style: italic;
}

/* Varianti della famiglia di font "Elza" */
.font-elza-light {
    font-family: "elza", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-elza-regular {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-elza-medium {
    font-family: "elza", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-elza-bold {
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Impostazioni di base */
body,
html {
  height: 100%;
  margin: 0;
  transition: opacity 1s; /* Transizione per l'animazione */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-family: "acumin-pro", sans-serif; /* Font predefinita */
}

#myVideo {
    width: 100vw; /* Larghezza 100% della viewport */
    height: 100vh; /* Altezza 100% della viewport */
    object-fit: cover; /* Ritaglia il video per riempire l'area */
}

/* Cerchio - Posizione originale */
.circle {
  width: 800px; /* Dimensione fissa */
  height: 800px; /* Dimensione fissa */
  background-color: white;
  background: linear-gradient(315deg, white 26%, #E1E1E1 100%);
  border-radius: 9999px;
  filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 35%; /* Posizione a sinistra */
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px;
  --rotation: 0deg;
  transform: translate(-135%, -50%) rotate(var(--rotation)); /* Mantiene la posizione a sinistra */
  transition: transform 0.5s ease-in-out;
}

/* Contenitore delle parole */
.word-container {
    position: relative;
  /* position: absolute;
  width: 50vw; 
  height: 100vh;  */
  display: flex;
  font-family: "acumin-pro", sans-serif;
  font-weight: 500; /* Medium */
}

/* position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */

.width-50vw {
    width: 50vw; /* Larghezza dell'area */
    height: 100vh; /* Altezza dell'area */
    display: flex;
}

.word {
  position: absolute;
  transform-origin: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transizione per ingrandimento e opacità */
  opacity: 0.5;
  font-size: 1.2rem; /* Dimensione fissa */
  font-weight: 500;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}


.word.active {
  opacity: 1;
  font-size: 2rem; /* Dimensione fissa per la parola centrale */
}

/* Animazione di opacità per l'immagine */
.background {
    transition: opacity 1s ease-in-out; /* La durata della transizione è 1s */
    opacity: 1; /* Imposta l'opacità iniziale a 100% */
}

/* Classe per nascondere la pagina con dissolvenza */
.fade-out {
    opacity: 0;
}

/* Contenitore principale per consequences */
.consequences {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spazio uniforme tra gli elementi */
    width: 40%; /* Adatta in base alle necessità */

}

/* Reactions Section */
.reactions {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spazio uniforme tra gli elementi */
}

.reactions h2 {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    color: black;
}

.reaction-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    gap: 2vh; /* Aggiunge spazio uniforme tra il testo, la barra e la percentuale */
    font-family: "acumin-pro", sans-serif;
    font-weight: 300; /* Light */
}

.reaction-item span {
    font-size: 1rem;
    color: black;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}

.progress {
    height: 100%;
    background-color: #a4d08b; /* Verde per Media Impact */
    border-radius: 5px;
}

/* Shock specific progress color */
.reaction-item:nth-child(2) .progress {
    background-color: #d89bd0; /* Viola per Shock */
}

/* Price Section */
.price {
    margin-top: 20px;
}

.price h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.price-detail,
.price-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-detail span,
.price-total span {
    font-size: 1rem;
    color: black;
}

.price-total {
    font-weight: bold;
}

#data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 15vh;
}

.title {
    font-family: "elza", sans-serif;
    font-weight: 700; /* Bold */
}

.generation {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300; /* Light */
}

.price-title {
    font-family: "acumin-pro", sans-serif;
    font-weight: 600; /* Semibold */
}

.price-dollar {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700; /* Bold */
}




#videoContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; /* Assicurati che il video sia sopra gli altri contenuti */
}

.other-element,
.circle,
.consequences {
    display: block; /* Default display */
}

body {
    overflow: hidden; /* Impedisce lo scorrimento durante la riproduzione del video */
}














/* GENERAZIONE PAROLE REAZIONI */

/* Animazione per il fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

/* Animazione per il tipo di scrittura */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(50) 1s forwards; /* Cambia 30 con il numero di lettere della frase */
}
